.controls {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    color: white;
    background: tomato;
}

.level, .start {
    flex-basis: 150px;
    flex-shrink: 0;
    padding: 10px;
    margin: 5px;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
}

.start {
    // min-width: 100%;
}