.controls {
    padding: 40px 5%;
    color: $off-black;
    background: $off-white;

    .level-controls {
        display: flex;
        direction: row;
        flex-wrap: wrap;
    }

    .level {
        min-width: 200px;
        flex-grow: 1;
    }


    .level, .start {
        padding: 10px;
        margin: 5px 0;
        background: $second-color;
        border-radius: 10px;
        text-align: center;
    }

    .level:nth-child(2) {
        margin: 5px;
    }
    

    .start {
        background: $primary-color;
        color: $off-white;
    }

    .level.selected {
        background: $forth-color;
        color: $off-white;
    }

    @media only screen and (max-width: 700px)  {
        .level {
            min-width: 100%;
        }
    }
}
