.game-area {
    background: $forth-color;
    color: white;
    padding: 10px 5%;
    // position: relative;
}

.paused {
    cursor: not-allowed;
}

.holder {
    padding: 200px 0;
    text-transform: uppercase;
    h2 {
        text-align: center;
    }
}

.game-area .card:nth-of-type(2n) {
    // background: palevioletred;
    // margin: 3px;
}

.game-area .card:nth-last-of-type(8n + 1) {
    // background: black;
    // margin-right: 0;
}

.game-area .card:nth-of-type(8n + 1) {
    // background: blue;
    // margin-left: 0;
}

.card {
    padding: 10px;
    border: 2px white solid;
    border-radius: 10%;
    margin: 3px;
    width: calc((100% / 8) - 6px);
    float: left;
    background: $second-color;
}

.correct {
    background: greenyellow;
}

.wrong {
    background: red;
}

.clicked {
    background: red;
}