.game-area {
    background: $forth-color;
    color: white;
    padding: 10px 5%;
    position: relative;
}

.end-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    // width: 30%;
    left: 5%;
    right: 5%;
    top: 5%;
    bottom: 5%;
    text-align: center;
    background: rgba(237,106,90,0.95);
    border-radius: 30px;
    -webkit-box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.75);
}

.game-area {
    cursor: url('../assets/net-cursor-2.png'), pointer;
}

.game-area:active {
    cursor: url('../assets/net-cursor-1.png'), pointer;
}

.bait.not-clicked {
    animation-duration: 0.8s;
    animation-delay: 0.8s;
    animation-iteration-count: infinite;
}

.paused {
    cursor: url('../assets/prohibited-cur.png'), pointer;
}

.holder {
    padding: 200px 0;
    text-transform: uppercase;
    h2 {
        text-align: center;
    }
}

.card {
    padding: 10px;
    border: 2px white solid;
    border-radius: 10%;
    margin: 3px;
    width: calc((100% / 12) - 6px);
    float: left;
    background: $second-color;
    -webkit-box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.75);

}

.card:active {
    border: 6px red solid;
    transition: border 0.1s ease-in-out;
}

.clicked {
    background: $primary-color;
}

@media only screen and (max-width: 1000px)  {
    .card {
        width: calc((100% / 9) - 6px);
    }

}

@media only screen and (max-width: 800px)  {
    .card {
        width: calc((100% / 6) - 6px);
    }

}

@media only screen and (max-width: 450px)  {
    .card {
        width: calc((100% / 3) - 6px);
    }

}