.game-area {
    background: $forth-color;
    color: white;
    padding: 10px 5%;
    // position: relative;
}

.bait.not-clicked {
    animation-duration: 0.8s;
    animation-delay: 0.8s;
    animation-iteration-count: infinite;
}

.paused {
    cursor: not-allowed;
}

.holder {
    padding: 200px 0;
    text-transform: uppercase;
    h2 {
        text-align: center;
    }
}

.game-area .card:nth-of-type(2n) {
    // background: palevioletred;
    // margin: 3px;
}

.game-area .card:nth-last-of-type(8n + 1) {
    // background: black;
    // margin-right: 0;
}

.game-area .card:nth-of-type(8n + 1) {
    // background: blue;
    // margin-left: 0;
}

.card {
    padding: 10px;
    border: 2px white solid;
    border-radius: 10%;
    margin: 3px;
    width: calc((100% / 12) - 6px);
    float: left;
    background: $second-color;
}

.card:active {
    border: 6px red solid;
    transition: border 0.1s ease-in-out;
}


.correct {
    // background: greenyellow;
}

.wrong {
    // background: red;
}

.clicked {
    background: $primary-color;
}

@media only screen and (max-width: 1000px)  {
    .card {
        // padding: 10px;
        // border: 2px white solid;
        // border-radius: 10%;
        // margin: 3px;
        width: calc((100% / 9) - 6px);
        // float: left;
        // background: $second-color;
    }

}

@media only screen and (max-width: 800px)  {
    .card {
        // padding: 10px;
        // border: 2px white solid;
        // border-radius: 10%;
        // margin: 3px;
        width: calc((100% / 6) - 6px);
        // float: left;
        // background: $second-color;
    }

}

@media only screen and (max-width: 450px)  {
    .card {
        // padding: 10px;
        // border: 2px white solid;
        // border-radius: 10%;
        // margin: 3px;
        width: calc((100% / 3) - 6px);
        // float: left;
        // background: $second-color;
    }

}