.logo {
    background: $second-color;
    color: $off-black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-content: space-around;
    h1 {
        font-family: 'Amatic SC', cursive;
        font-weight: bold;
        font-size: 230px;
        line-height: 85%;
        margin: 0 auto;
    }
    h2 {
        font-family: 'Gaegu', cursive;
        margin: 0 auto;
    }
}