.rules {
    padding: 50px 5% 0 5%;
    display: flex;
    flex-wrap: wrap;
    background: $off-white;
    color: $off-black;

    h2, p{
        margin: 0;
    }
    
    .rule {
        flex-basis: 420px;
        flex-grow: 1;
        flex-shrink: 0;
    }

    .rule-1, .rule-2 {
        border: $off-white 2px solid;
        border-radius: 15px;
    }

    .rule-1 {
        margin-right: 30px;
    }

    .rule-3 {
        text-align: center;
        padding-top: 40px;
        
        h2{
            font-size: 3rem;
        }

        img {
            width: 40px;
            display: inline;
            margin-bottom: -5px;
        }
    }

    figcaption {
        margin: 40px 0 0 0;
        img {
            display: inline;
            width: 20px;
            height: 20px;
        }
    }

    .image-holder {
        display: flex;
        justify-content: center;
    }

    .image-holder img {
        width: 30%;
        max-width: 100px;
        max-height: 100px;
    }

    .image-pulse, .rule-3 img {
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
    }

    @media only screen and (max-width: 966px)  {
        .rule-1 {
            margin: 0 0 40px 0; 
        }

        .rule {
            flex-shrink: 1;
        }

        .rule-3{
            h2{
                font-size: 2rem;
            }
        }
    }

    @media only screen and (min-width: 934px) {
        .rule-2 figure {
            display: flex;
            flex-direction: column-reverse;
            figcaption {
                margin: 0 0 40px 0;
            }
        }
    }

    @media only screen and (max-width: 934px) {
        figcaption {
            text-align: center;
        }
    }


}