@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Gaegu:400,700|Staatliches");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.this_does_nothing {
  font-family: 'Amatic SC', cursive;
  font-family: 'Staatliches', cursive;
  font-family: 'Gaegu', cursive; }

body {
  font-family: 'Gaegu', cursive; }

html {
  font-size: 125%; }

img {
  width: 100%;
  display: block; }

.logo {
  background: #f4f1bb;
  color: #232323;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .logo h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 230px;
    line-height: 85%;
    margin: 0 auto; }
  .logo h2 {
    font-family: 'Gaegu', cursive;
    margin: 0 auto; }

.rules {
  padding: 50px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #ffffef;
  color: #232323; }
  .rules h2, .rules p {
    margin: 0; }
  .rules .rule {
    -ms-flex-preferred-size: 460px;
    flex-basis: 460px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .rules .rule-1, .rules .rule-2 {
    padding: 15px 0;
    border: #ffffef 2px solid;
    border-radius: 15px; }

.game-area {
  background: #5ca4a9;
  color: white;
  padding: 10px 5%; }

.paused {
  cursor: not-allowed; }

.holder {
  padding: 200px 0;
  text-transform: uppercase; }
  .holder h2 {
    text-align: center; }

.card {
  padding: 10px;
  border: 2px white solid;
  border-radius: 10%;
  margin: 3px;
  width: calc((100% / 8) - 6px);
  float: left;
  background: #f4f1bb; }

.correct {
  background: greenyellow; }

.wrong {
  background: red; }

.clicked {
  background: red; }

.controls {
  padding: 40px 5%;
  color: #232323;
  background: #ffffef; }
  .controls .level-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .controls .level {
    min-width: 200px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .controls .level, .controls .start {
    padding: 10px;
    margin: 5px 0;
    background: #f4f1bb;
    border-radius: 10px;
    text-align: center; }
  .controls .level:nth-child(2) {
    margin: 5px; }
  .controls .start {
    background: #ed6a5a; }
  .controls .level.selected {
    background: #5ca4a9; }

.score-holder {
  background: #ed6a5a;
  color: white;
  position: fixed;
  left: 2px;
  bottom: 2px;
  border-radius: 10px;
  padding: 5px; }

.score-holder h2 {
  text-align: center;
  font-size: 1rem;
  margin: 0; }

.end-game-score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #ffffef;
  padding: 40px 5%; }
  .end-game-score .this-game, .end-game-score .total-games {
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .end-game-score .total-games {
    text-align: right; }

.end-game-score > h2 {
  font-size: 3rem;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  text-align: center; }
